.app-container{
    display: flex;
}
.content{
    width: 100%;
}

.sidebar{
    min-height: 800px;
    width: 80px;
}

.post-card{
    margin: 20px 50px;
    min-width: 30rem;
}

.hashtag{
    margin: 2px 3px;
}

.reaction{
    /* width: 100%; */
    margin: 15px 0 0 0;
}

.Post{
    width: 80%;
    margin-top: 50px;
    margin-left: 10%;
}