:root {
    --main-bg-color: rgb(177, 122, 20);
    --font1: 'Baloo Bhaina 2', cursive;
    --font2: 'Roboto', sans-serif;
}

.font1{
    font-family: var(--font1);
}

.font2{
    font-family: var(--font2);
}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.mx-1{
    margin-left: 23px;
    margin-right: 23px;
}

.form-input {
    padding: 0px 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid black;
    margin: 0 5px;
    font-family: var(--font1);
    padding-top: 1px;
}

.my-2{
    margin-bottom: 32px;
    margin-top: 32px;
}

.btn {
    padding: 0px 20px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: var(--font1);
    font-size: 16px;
    padding-top: 1px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: white;
    background-color: var(--main-bg-color);
}

.formBox input,textarea{
    width: 52vw;
    padding: 0px 7px;
    margin: 7px 0;
    font-size: 18px;
    font-family: var(--font2);
    border: 2px solid rgb(202, 138, 19);
    border-radius: 5px;
}